/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 24px;
  background-color: #fff;
}
.back-link {
  margin: 24px;
}
.gallery {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  width: 360px;
  height: 200px;
  transition: transform 250ms ease;
}
.gallery-item:hover {
  transform: scale(1.03);
}
.gallery-link {
  display: block;
  overflow: hidden;
}
.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}
.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
.feedback-form label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.feedback-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  padding: 8px 16px;
  resize: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}
.feedback-form textarea {
  min-height: 80px;
  resize: none;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 1px solid #808080;
}
.feedback-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 8px;
  padding-block: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.feedback-form button:hover {
  background-color: #6c8cff;
}